<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-8">

              <p>We are part of the <a href="https://www.bnl.gov/cmpmsd/">Condensed Matter Physics and Materials Science Department</a> at <a href="https://www.bnl.gov/world/">Brookhaven National Laboratory</a>.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Interdisciplinary Science Building, Brookhaven National Laboratory<br />
		  734 Brookhaven Avenue<br />
		  New York 11973<br />
            (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
